body {
  background-color: #eff0f2;
}

.jumbotron {
  text-align: center;
  background-color: #bdd1ed;

}

.keg-item{
  text-align: center;
}

.keg-details{
  text-align: center;
}

.edit-keg {
  text-align: center;
}

.pints-low {
  text-align: center;
}

.footer {
  padding: 15px 0;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #bdd1ed;
  text-align: center;
}

.price-expensive {
  background-color: darkgray;
  padding: 10px 0px 15px 0px;
  border-radius: 15px;
}
.price-cheap {
  background-color: white;
  padding: 10px 0px 15px 0px;
  border-radius: 15px;
}
.price-average {
  background-color: lightgray;
  padding: 10px 0px 15px 0px;
  border-radius: 15px;
}
